<h2>Добавить продукт</h2>

<form action="Create" method="post">
    <label>Наименование продукта</label><br />
    <input type="text" name="Name" /><br />
    <br />
    <label>Цена</label><br />
    <input type="text" name="Price" /><br />
    <input type="submit" value="Сохранить" />
</form>