@model ComputerShop.Models.Product
<h2>Изменить продукт</h2>

<form action="Edit?id=@Model.Id" method="post" >
    <label>Наименование продукта</label><br />
    <input type="text" name="Name" value="@Model.Name"/><br />
    <br />
    <label>Цена</label><br />
    <input type="text" name="Price" value="@Model.SalePrice" /><br />
    <input type="submit" value="Сохранить" />
</form>